{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3 mb-5">
    <section>
    <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Что-то не так, но мы все починим. <br>А пока попробуйте вернуться на <a href="/">главную</a></strong></h1>
    <div class="text-center mb-5">
      <div class="btn-group mx-auto mb-0" role="group" aria-label="Basic example">
        {% for key, value in goals.items() %}
        <a href="goal/{{ key }}" class="btn btn-outline-secondary">{{ value[0] }} {{ value[1] }}</a>
        {% endfor %}
      </div>
    </div>
        </div>
      </div>
    </div>

{% endblock %}